*{
    margin: 0;
    padding:0 ;
    font-family: 'Abel', sans-serif;
    color: white;
}
html {
    scroll-behavior: smooth;
  }
.header{
    background-color: black;
}
.navbar.navbar-style{
    margin-bottom: 0px;
}
.logo{
    height: 48px;
    padding: 2px 10px;
}
.navbar-nav{
    font-size: x-large;
}
.nav.navbar-nav a{
    color: whitesmoke;
}
.nav.navbar-nav a:hover{
    background-color: rgba(255, 255, 255, 0.123);
    color: white;
}
.icon-bar{
    background-color: whitesmoke;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    background-color: transparent;
    cursor: pointer; 
    padding: 15px; 
    background-image: url(/slike/up.png);
    background-repeat: no-repeat;
    background-size:30px 30px;
    border: none;
    overflow: hidden;
  } 
  .prva{
    color: white;
    overflow: hidden;
    background-image: url(/slike/pozadina.gif);
    background-size: cover;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .druga{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 40px;
    margin-right:40px;
    text-align: center;
  }
  .treca{
    overflow: hidden;
    background-image: url(/slike/pozadina.gif);
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 40px;
    padding-right:40px;
    text-align: center;
  }
  .dugme{
    padding: 20px;
    width: 150px;
    background-color: transparent;
    font-size: large;
    color: white;
    transition-duration: 0.9s;
}
.dugme:hover{
   background-color: rgba(245, 245, 245, 0.486);
   color: black;
}
.hw{
background-image: url(/slike/hw.png);
background-position: center;
background-size: cover;
padding: 25px;
}
.game{
background-image: url(/slike/gameling.png);
background-position: center;
background-size: cover;
padding: 25px;
}